<h2>Employee Information</h2>
<div >
    <div id="create">
        <button class="btn btn-primary"  id="button-create">Add new Employee</button>
    </div>
    <div class="table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">
        <table class="table center tableRoom">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Location</th>
                <th>Admin</th>
                <th>#</th>
            </tr>
            <tr *ngFor="let user of listEmployees">
                <td attr.class="{{user.FirstName}}">{{user.FirstName}}</td>
                <td attr.class="{{user.LastName}}">{{user.LastName}}</td>
                <td attr.class="{{user.EmpEmail}}">{{user.EmpEmail}}</td>
                <td attr.class="{{user.LocationID}}">{{user.LocationID}}</td>
                <td attr.class="{{user.isAdmin}}">
                    <ng-template [ngIf]="user.isAdmin.data[0] > 0" [ngIfElse]="notAdmin">
                        yes
                    </ng-template>
                    <ng-template #notAdmin>
                        no
                    </ng-template>
                 </td>
                <!-- <td></td> -->
                <td>
                    <span>
                        <button class="btn btn-danger" id="b1" (click)="delete(user.EmpEmail)">Delete</button>
                        <button class="btn btn-success" (click)="edit(user.FirstName,user.LastName,user.EmpEmail,user.LocationID,user.EmpPassword,user.isAdmin)">Edit</button>
                        <!-- <button class="btn btn-primary" >Assign Admin</button>&nbsp; -->
                    </span>
                </td>
            </tr>
        
        </table>
    </div>
</div>
